.dayPickerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
}

.dayPickerWrapper {
    width: 300px; /* Adjust as needed */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dayPickerWrapper .DayPicker {
    width: 100%;
}

.dayPickerWrapper .DayPicker-Months {
    display: flex;
    justify-content: center;
}

.dayPickerWrapper .DayPicker-Month {
    margin: 0 10px;
}

.dayPickerWrapper .DayPicker-WeekdaysRow {
    background-color: #f5f5f5;
}

.dayPickerWrapper .DayPicker-Body {
    padding: 10px;
}

.dayPickerWrapper .DayPicker-Day {
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.dayPickerWrapper .DayPicker-Day--selected {
    background-color: #007bff;
    color: #fff;
}

.dayPickerWrapper .DayPicker-Day--today {
    font-weight: bold;
}

/* Add styles for the back button */
.backButton {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.backButton:hover {
    background-color: #0056b3;
}