.sigContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}

.sigCanvas {
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.buttonContainer button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonContainer button:hover {
    background-color: #0056b3;
}

/* Add styles for the back button */
.backButton {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.backButton:hover {
    background-color: #0056b3;
}